# SPRINT-2

# Handling And Replacing The Missing Values

In [19]:
#Converting the categorical to 0 and 1

In [20]:
df['Red_Blood_Cells'].value_counts()

normal      202
abnormal     47
Name: Red_Blood_Cells, dtype: int64

In [21]:
df['Red_Blood_Cells'] = df['Red_Blood_Cells'].replace(to_replace = {'normal' : 0, 'abnormal' : 1})

In [22]:
df['Pus_Cells'].value_counts()

normal      259
abnormal     76
Name: Pus_Cells, dtype: int64

In [23]:
df['Pus_Cells'] = df['Pus_Cells'].replace(to_replace = {'normal' : 0, 'abnormal' : 1})

In [24]:
df['Puss_Cell_Clumps'].value_counts()

notpresent    354
present        42
Name: Puss_Cell_Clumps, dtype: int64

In [25]:
df['Puss_Cell_Clumps'] = df['Puss_Cell_Clumps'].replace(to_replace = {'notpresent':0,'present':1})

In [26]:
df['Hypertension'].value_counts()

no     251
yes    147
Name: Hypertension, dtype: int64

In [27]:
df['Hypertension'] = df['Hypertension'].replace(to_replace = {'yes' : 1, 'no' : 0})

In [28]:
df['Diabetes_Mellitus'].value_counts()

no       258
yes      134
\tno       3
\tyes      2
 yes       1
Name: Diabetes_Mellitus, dtype: int64

In [29]:
df['Diabetes_Mellitus'] = df['Diabetes_Mellitus'].replace(to_replace = {'\tyes': 1, ' yes': 1, '\tno': 0 , 'no': 0 , 'yes': 1})

In [30]:
df['Coronary_Artery_Disease'].value_counts()

no      362
yes      34
\tno      2
Name: Coronary_Artery_Disease, dtype: int64

In [31]:
df['Coronary_Artery_Disease'] = df['Coronary_Artery_Disease'].replace(to_replace = {'yes' : 1, 'no' : 0})

In [32]:
df['Appetite'].unique()

array(['good', 'poor', nan], dtype=object)

In [33]:
df['Appetite'] = df['Appetite'].replace(to_replace={'good':1,'poor':0,'no':np.nan})

In [34]:
df['Peda_Edema'].value_counts()

no     323
yes     76
Name: Peda_Edema, dtype: int64

In [35]:
df['Peda_Edema'] = df['Peda_Edema'].replace(to_replace = {'yes' : 1, 'no' : 0})

In [36]:
df['Aanemia'].value_counts()

no     339
yes     60
Name: Aanemia, dtype: int64

In [37]:
df['Aanemia'] = df['Aanemia'].replace(to_replace = {'yes' : 1, 'no' : 0})

In [38]:
#checking the distribution of class variable
df['class'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: class, dtype: int64

In [39]:
df['class'] = df['class'].replace(to_replace={'ckd\t':'ckd'})

In [40]:
df["class"] = [1 if i == "ckd" else 0 for i in df["class"]]

In [41]:
df['Bacteria'].value_counts()

notpresent    374
present        22
Name: Bacteria, dtype: int64

In [42]:
df['Bacteria'] = df['Bacteria'].replace(to_replace = {'notpresent':0,'present':1})

In [43]:
#Converting PCV,WBCC,RBCC ( Objects to numberic)
df['Packed_Cell_Volume'] = pd.to_numeric(df['Packed_Cell_Volume'], errors='coerce')
df['White_Blood_Cell_Count'] = pd.to_numeric(df['White_Blood_Cell_Count'], errors='coerce')
df['Red_Blood_Cell_Count'] = pd.to_numeric(df['Red_Blood_Cell_Count'], errors='coerce')

# Splitting the Features and class

In [44]:
X = df.drop(columns='class',axis=1)
Y = df['class']

In [45]:
print(X)

      Age  Blood_Pressure  Specific_Gravity  Albumin  Sugar  Red_Blood_Cells  \
0    48.0            80.0             1.020      1.0    0.0              0.0
1     7.0            50.0             1.020      4.0    0.0              NaN
2    62.0            80.0             1.010      2.0    3.0              0.0
3    48.0            70.0             1.005      4.0    0.0              0.0
4    51.0            80.0             1.010      2.0    0.0              0.0
..    ...             ...               ...      ...    ...              ...
395  55.0            80.0             1.020      0.0    0.0              0.0
396  42.0            70.0             1.025      0.0    0.0              0.0
397  12.0            80.0             1.020      0.0    0.0              0.0
398  17.0            60.0             1.025      0.0    0.0              0.0
399  58.0            80.0             1.025      0.0    0.0              0.0

     Pus_Cells  Puss_Cell_Clumps  Bacteria  Blood_Gulcose_Random  ...  \
0          0.0               0.0       0.0                 121.0  ...
1          0.0               0.0       0.0                   NaN  ...
2          0.0               0.0       0.0                 423.0  ...
3          1.0               1.0       0.0                 117.0  ...
4          0.0               0.0       0.0                 106.0  ...
..         ...               ...       ...                   ...  ...
395        0.0               0.0       0.0                 140.0  ...
396        0.0               0.0       0.0                  75.0  ...
397        0.0               0.0       0.0                 100.0  ...
398        0.0               0.0       0.0                 114.0  ...
399        0.0               0.0       0.0                 131.0  ...

     Haemoglobin  Packed_Cell_Volume  White_Blood_Cell_Count  \
0           15.4                44.0                  7800.0
1           11.3                38.0                  6000.0
2            9.6                31.0                  7500.0
3           11.2                32.0                  6700.0
4           11.6                35.0                  7300.0
..           ...                 ...                     ...
395         15.7                47.0                  6700.0
396         16.5                54.0                  7800.0
397         15.8                49.0                  6600.0
398         14.2                51.0                  7200.0
399         15.8                53.0                  6800.0

     Red_Blood_Cell_Count  Hypertension  Diabetes_Mellitus  \
0                     5.2           1.0                1.0
1                     NaN           0.0                0.0
2                     NaN           0.0                1.0
3                     3.9           1.0                0.0
4                     4.6           0.0                0.0
..                    ...           ...                ...
395                   4.9           0.0                0.0
396                   6.2           0.0                0.0
397                   5.4           0.0                0.0
398                   5.9           0.0                0.0
399                   6.1           0.0                0.0

     Coronary_Artery_Disease  Appetite  Peda_Edema  Aanemia
0                          0       1.0         0.0      0.0
1                          0       1.0         0.0      0.0
2                          0       0.0         0.0      1.0
3                          0       0.0         1.0      1.0
4                          0       1.0         0.0      0.0
..                       ...       ...         ...      ...
395                        0       1.0         0.0      0.0
396                        0       1.0         0.0      0.0
397                        0       1.0         0.0      0.0
398                        0       1.0         0.0      0.0
399                        0       1.0         0.0      0.0

[400 rows x 24 columns]

In [46]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
395    0
396    0
397    0
398    0
399    0
Name: class, Length: 400, dtype: int64