In [4]:
import numpy as np    #used for computations
import pandas as pd   #used for creating the dataframes
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter as c
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
import pickle

In [5]:
df = pd.read_csv('chronickidneydisease.csv')
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [6]:
df.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [7]:
df.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [8]:
df.drop(['id'], axis = 1, inplace = True)

In [9]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [10]:
df.columns = ['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'hemoglobin', 'packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count', 'hypertension', 'diabetesmellitus', 'coronary_artery_disease', 'appetite', 'pedal_edema', 'anemia', 'class']

In [11]:
df.columns

Index(['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar',
       'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria',
       'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
       'potassium', 'hemoglobin', 'packed_cell_volume',
       'white_blood_cell_count', 'red_blood_cell_count', 'hypertension',
       'diabetesmellitus', 'coronary_artery_disease', 'appetite',
       'pedal_edema', 'anemia', 'class'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      391 non-null    float64
 1   blood_pressure           388 non-null    float64
 2   specific_gravity         353 non-null    float64
 3   albumin                  354 non-null    float64
 4   sugar                    351 non-null    float64
 5   red_blood_cells          248 non-null    object
 6   pus_cell                 335 non-null    object
 7   pus_cell_clumps          396 non-null    object
 8   bacteria                 396 non-null    object
 9   blood_glucose_random     356 non-null    float64
 10  blood_urea               381 non-null    float64
 11  serum_creatinine         383 non-null    float64
 12  sodium                   313 non-null    float64
 13  potassium                312 non-null    float64
 14  hemoglobin               348 non-null    float64
 15  packed_cell_volume       330 non-null    object
 16  white_blood_cell_count   295 non-null    object
 17  red_blood_cell_count     270 non-null    object
 18  hypertension             398 non-null    object
 19  diabetesmellitus         398 non-null    object
 20  coronary_artery_disease  398 non-null    object
 21  appetite                 399 non-null    object
 22  pedal_edema              399 non-null    object
 23  anemia                   399 non-null    object
 24  class                    400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.2+ KB

In [13]:
df['class'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [14]:
df['class'] = df['class'].replace("ckd\t", "ckd")
df['class'].unique()

array(['ckd', 'notckd'], dtype=object)

In [15]:
catcols = set(df.dtypes[df.dtypes=='O'].index.values)
print(catcols)

{'appetite', 'packed_cell_volume', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetesmellitus', 'red_blood_cell_count', 'anemia', 'white_blood_cell_count', 'red_blood_cells', 'coronary_artery_disease', 'class', 'pedal_edema'}

In [16]:
for i in catcols:
    print("Columns : ", i)
    print(c[df[i]])
    print('*'*120+'\n')

Columns :  appetite
collections.Counter[0      good
1      good
2      poor
3      poor
4      good
       ...
395    good
396    good
397    good
398    good
399    good
Name: appetite, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  packed_cell_volume
collections.Counter[0      44
1      38
2      31
3      32
4      35
       ..
395    47
396    54
397    49
398    51
399    53
Name: packed_cell_volume, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  pus_cell
collections.Counter[0        normal
1        normal
2        normal
3      abnormal
4        normal
         ...
395      normal
396      normal
397      normal
398      normal
399      normal
Name: pus_cell, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  pus_cell_clumps
collections.Counter[0      notpresent
1      notpresent
2      notpresent
3         present
4      notpresent
          ...
395    notpresent
396    notpresent
397    notpresent
398    notpresent
399    notpresent
Name: pus_cell_clumps, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  bacteria
collections.Counter[0      notpresent
1      notpresent
2      notpresent
3      notpresent
4      notpresent
          ...
395    notpresent
396    notpresent
397    notpresent
398    notpresent
399    notpresent
Name: bacteria, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  hypertension
collections.Counter[0      yes
1       no
2       no
3      yes
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: hypertension, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  diabetesmellitus
collections.Counter[0      yes
1       no
2      yes
3       no
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: diabetesmellitus, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  red_blood_cell_count
collections.Counter[0      5.2
1      NaN
2      NaN
3      3.9
4      4.6
      ...
395    4.9
396    6.2
397    5.4
398    5.9
399    6.1
Name: red_blood_cell_count, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  anemia
collections.Counter[0       no
1       no
2      yes
3      yes
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: anemia, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  white_blood_cell_count
collections.Counter[0      7800
1      6000
2      7500
3      6700
4      7300
       ...
395    6700
396    7800
397    6600
398    7200
399    6800
Name: white_blood_cell_count, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  red_blood_cells
collections.Counter[0         NaN
1         NaN
2      normal
3      normal
4      normal
        ...
395    normal
396    normal
397    normal
398    normal
399    normal
Name: red_blood_cells, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  coronary_artery_disease
collections.Counter[0      no
1      no
2      no
3      no
4      no
       ..
395    no
396    no
397    no
398    no
399    no
Name: coronary_artery_disease, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  class
collections.Counter[0         ckd
1         ckd
2         ckd
3         ckd
4         ckd
        ...
395    notckd
396    notckd
397    notckd
398    notckd
399    notckd
Name: class, Length: 400, dtype: object]
************************************************************************************************************************

Columns :  pedal_edema
collections.Counter[0       no
1       no
2       no
3      yes
4       no
      ...
395     no
396     no
397     no
398     no
399     no
Name: pedal_edema, Length: 400, dtype: object]
************************************************************************************************************************

In [17]:
catcols.remove('red_blood_cell_count')
catcols.remove('packed_cell_volume')
catcols.remove('white_blood_cell_count')
print(catcols)

{'appetite', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetesmellitus', 'anemia', 'red_blood_cells', 'coronary_artery_disease', 'class', 'pedal_edema'}

In [18]:
contcols = set(df.dtypes[df.dtypes != 'O'].index.values)
print(contcols)

{'blood_urea', 'serum_creatinine', 'age', 'albumin', 'blood_glucose_random', 'hemoglobin', 'sodium', 'potassium', 'specific_gravity', 'blood_pressure', 'sugar'}

In [19]:
for i in contcols:
    print("Columns : ", i)
    print(c[df[i]])
    print('*'*120+'\n')

Columns :  blood_urea
collections.Counter[0      36.0
1      18.0
2      53.0
3      56.0
4      26.0
       ...
395    49.0
396    31.0
397    26.0
398    50.0
399    18.0
Name: blood_urea, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  serum_creatinine
collections.Counter[0      1.2
1      0.8
2      1.8
3      3.8
4      1.4
      ...
395    0.5
396    1.2
397    0.6
398    1.0
399    1.1
Name: serum_creatinine, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  age
collections.Counter[0      48.0
1       7.0
2      62.0
3      48.0
4      51.0
       ...
395    55.0
396    42.0
397    12.0
398    17.0
399    58.0
Name: age, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  albumin
collections.Counter[0      1.0
1      4.0
2      2.0
3      4.0
4      2.0
      ...
395    0.0
396    0.0
397    0.0
398    0.0
399    0.0
Name: albumin, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  blood_glucose_random
collections.Counter[0      121.0
1        NaN
2      423.0
3      117.0
4      106.0
       ...
395    140.0
396     75.0
397    100.0
398    114.0
399    131.0
Name: blood_glucose_random, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  hemoglobin
collections.Counter[0      15.4
1      11.3
2       9.6
3      11.2
4      11.6
       ...
395    15.7
396    16.5
397    15.8
398    14.2
399    15.8
Name: hemoglobin, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  sodium
collections.Counter[0        NaN
1        NaN
2        NaN
3      111.0
4        NaN
       ...
395    150.0
396    141.0
397    137.0
398    135.0
399    141.0
Name: sodium, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  potassium
collections.Counter[0      NaN
1      NaN
2      NaN
3      2.5
4      NaN
      ...
395    4.9
396    3.5
397    4.4
398    4.9
399    3.5
Name: potassium, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  specific_gravity
collections.Counter[0      1.020
1      1.020
2      1.010
3      1.005
4      1.010
       ...
395    1.020
396    1.025
397    1.020
398    1.025
399    1.025
Name: specific_gravity, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  blood_pressure
collections.Counter[0      80.0
1      50.0
2      80.0
3      70.0
4      80.0
       ...
395    80.0
396    70.0
397    80.0
398    60.0
399    80.0
Name: blood_pressure, Length: 400, dtype: float64]
************************************************************************************************************************

Columns :  sugar
collections.Counter[0      0.0
1      0.0
2      3.0
3      0.0
4      0.0
      ...
395    0.0
396    0.0
397    0.0
398    0.0
399    0.0
Name: sugar, Length: 400, dtype: float64]
************************************************************************************************************************

In [20]:
contcols.remove('specific_gravity')
contcols.remove('albumin')
contcols.remove('sugar')
print(contcols)

{'blood_urea', 'serum_creatinine', 'age', 'blood_glucose_random', 'hemoglobin', 'sodium', 'potassium', 'blood_pressure'}

In [21]:
contcols.add('red_blood_cell_count')
contcols.add('packed_cell_volume')
contcols.add('white_blood_cell_count')
print(contcols)

{'blood_urea', 'serum_creatinine', 'packed_cell_volume', 'age', 'blood_glucose_random', 'hemoglobin', 'sodium', 'potassium', 'red_blood_cell_count', 'white_blood_cell_count', 'blood_pressure'}

In [22]:
catcols.add('specific_gravity')
catcols.add('albumin')
catcols.add('sugar')
print(catcols)

{'appetite', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'albumin', 'sugar', 'hypertension', 'diabetesmellitus', 'anemia', 'red_blood_cells', 'specific_gravity', 'coronary_artery_disease', 'class', 'pedal_edema'}

In [23]:
df['coronary_artery_disease'] = df.coronary_artery_disease.replace('\tno', 'no')
c(df['coronary_artery_disease'])

Counter({'no': 364, 'yes': 34, nan: 2})

In [24]:
df['diabetesmellitus'] = df.diabetesmellitus.replace(to_replace = {'\tno': 'no', '\tyes': 'yes', ' yes': 'yes', ' no': 'no'})
c(df['diabetesmellitus'])

Counter({'yes': 137, 'no': 261, nan: 2})

In [25]:
df.isnull().any()

age                         True
blood_pressure              True
specific_gravity            True
albumin                     True
sugar                       True
red_blood_cells             True
pus_cell                    True
pus_cell_clumps             True
bacteria                    True
blood_glucose_random        True
blood_urea                  True
serum_creatinine            True
sodium                      True
potassium                   True
hemoglobin                  True
packed_cell_volume          True
white_blood_cell_count      True
red_blood_cell_count        True
hypertension                True
diabetesmellitus            True
coronary_artery_disease     True
appetite                    True
pedal_edema                 True
anemia                      True
class                      False
dtype: bool

In [26]:
df.isnull().sum()

age                          9
blood_pressure              12
specific_gravity            47
albumin                     46
sugar                       49
red_blood_cells            152
pus_cell                    65
pus_cell_clumps              4
bacteria                     4
blood_glucose_random        44
blood_urea                  19
serum_creatinine            17
sodium                      87
potassium                   88
hemoglobin                  52
packed_cell_volume          70
white_blood_cell_count     105
red_blood_cell_count       130
hypertension                 2
diabetesmellitus             2
coronary_artery_disease      2
appetite                     1
pedal_edema                  1
anemia                       1
class                        0
dtype: int64

In [27]:
df.packed_cell_volume = pd.to_numeric(df.packed_cell_volume, errors = 'coerce')
df.white_blood_cell_count = pd.to_numeric(df.white_blood_cell_count, errors = 'coerce')
df.red_blood_cell_count = pd.to_numeric(df.red_blood_cell_count, errors = 'coerce')

In [28]:
df['blood_glucose_random'].fillna(df['blood_glucose_random'].mean(), inplace = True)
df['blood_pressure'].fillna(df['blood_pressure'].mean(), inplace = True)
df['blood_urea'].fillna(df['blood_urea'].mean(), inplace = True)
df['hemoglobin'].fillna(df['hemoglobin'].mean(), inplace = True)
df['packed_cell_volume'].fillna(df['packed_cell_volume'].mean(), inplace = True)
df['potassium'].fillna(df['potassium'].mean(), inplace = True)
df['red_blood_cell_count'].fillna(df['red_blood_cell_count'].mean(), inplace = True)
df['serum_creatinine'].fillna(df['serum_creatinine'].mean(), inplace = True)
df['sodium'].fillna(df['sodium'].mean(), inplace = True)
df['white_blood_cell_count'].fillna(df['white_blood_cell_count'].mean(), inplace = True)

In [29]:
df['age'].fillna(df['age'].mode()[0], inplace = True)
df['hypertension'].fillna(df['hypertension'].mode()[0], inplace = True)
df['pus_cell_clumps'].fillna(df['pus_cell_clumps'].mode()[0], inplace = True)
df['appetite'].fillna(df['appetite'].mode()[0], inplace = True)
df['albumin'].fillna(df['albumin'].mode()[0], inplace = True)
df['pus_cell'].fillna(df['pus_cell'].mode()[0], inplace = True)
df['red_blood_cells'].fillna(df['red_blood_cells'].mode()[0], inplace = True)
df['coronary_artery_disease'].fillna(df['coronary_artery_disease'].mode()[0], inplace = True)
df['bacteria'].fillna(df['bacteria'].mode()[0], inplace = True)
df['anemia'].fillna(df['anemia'].mode()[0], inplace = True)
df['sugar'].fillna(df['sugar'].mode()[0], inplace = True)
df['diabetesmellitus'].fillna(df['diabetesmellitus'].mode()[0], inplace = True)
df['pedal_edema'].fillna(df['pedal_edema'].mode()[0], inplace = True)
df['specific_gravity'].fillna(df['specific_gravity'].mode()[0], inplace = True)

In [30]:
for i in catcols:
    print("LABEL ENCODING OF: ", i)
    LEi = LabelEncoder()
    print(c(df[i]))
    df[i] = LEi.fit_transform(df[i])
    print(c(df[i]))
    print("*"*100)

LABEL ENCODING OF:  appetite
Counter({'good': 318, 'poor': 82})
Counter({0: 318, 1: 82})
****************************************************************************************************
LABEL ENCODING OF:  pus_cell
Counter({'normal': 324, 'abnormal': 76})
Counter({1: 324, 0: 76})
****************************************************************************************************
LABEL ENCODING OF:  pus_cell_clumps
Counter({'notpresent': 358, 'present': 42})
Counter({0: 358, 1: 42})
****************************************************************************************************
LABEL ENCODING OF:  bacteria
Counter({'notpresent': 378, 'present': 22})
Counter({0: 378, 1: 22})
****************************************************************************************************
LABEL ENCODING OF:  albumin
Counter({0.0: 245, 1.0: 44, 2.0: 43, 3.0: 43, 4.0: 24, 5.0: 1})
Counter({0: 245, 1: 44, 2: 43, 3: 43, 4: 24, 5: 1})
****************************************************************************************************
LABEL ENCODING OF:  sugar
Counter({0.0: 339, 2.0: 18, 3.0: 14, 4.0: 13, 1.0: 13, 5.0: 3})
Counter({0: 339, 2: 18, 3: 14, 4: 13, 1: 13, 5: 3})
****************************************************************************************************
LABEL ENCODING OF:  hypertension
Counter({'no': 253, 'yes': 147})
Counter({0: 253, 1: 147})
****************************************************************************************************
LABEL ENCODING OF:  diabetesmellitus
Counter({'no': 263, 'yes': 137})
Counter({0: 263, 1: 137})
****************************************************************************************************
LABEL ENCODING OF:  anemia
Counter({'no': 340, 'yes': 60})
Counter({0: 340, 1: 60})
****************************************************************************************************
LABEL ENCODING OF:  red_blood_cells
Counter({'normal': 353, 'abnormal': 47})
Counter({1: 353, 0: 47})
****************************************************************************************************
LABEL ENCODING OF:  specific_gravity
Counter({1.02: 153, 1.01: 84, 1.025: 81, 1.015: 75, 1.005: 7})
Counter({3: 153, 1: 84, 4: 81, 2: 75, 0: 7})
****************************************************************************************************
LABEL ENCODING OF:  coronary_artery_disease
Counter({'no': 366, 'yes': 34})
Counter({0: 366, 1: 34})
****************************************************************************************************
LABEL ENCODING OF:  class
Counter({'ckd': 250, 'notckd': 150})
Counter({0: 250, 1: 150})
****************************************************************************************************
LABEL ENCODING OF:  pedal_edema
Counter({'no': 324, 'yes': 76})
Counter({0: 324, 1: 76})
****************************************************************************************************

In [40]:
selcols = ['red_blood_cells', 'pus_cell', 'blood_glucose_random', 'blood_urea', 'pedal_edema', 'anemia', 'diabetesmellitus', 'coronary_artery_disease']
x = pd.DataFrame(df, columns = selcols)
y = pd.DataFrame(df, columns = ['class'])
print(x.shape)
print(y.shape)

(400, 8)
(400, 1)

In [41]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(320, 8)
(320, 1)
(80, 8)
(80, 1)

In [42]:
from sklearn.linear_model import LogisticRegression
lgr = LogisticRegression()
lgr.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [43]:
y_pred = lgr.predict(x_test)
y_pred1 = lgr.predict([[129, 99, 1, 0, 0, 1, 0, 1]])
print(y_pred)
c(y_pred)

[0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 1 0 1 1 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1
 0 0 1 0 1 0 0 0 1 0 1 1 1 0 0 0 1 0 1 0 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 1
 0 1 0 1 1 0]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

Counter({0: 48, 1: 32})

In [44]:
accuracy_score(y_test, y_pred)

0.925

In [45]:
conf_mat = confusion_matrix(y_test, y_pred)
conf_mat

array([[48,  6],
       [ 0, 26]], dtype=int64)

In [60]:
pickle.dump(lgr, open('CKD.pkl', 'wb'))